<div id="edit_worker" class="container">
  <div class="col-sm-4"></div>

  <div id="form_for_worker_detail" class="col-sm-4">
    <%= render partial: "layouts/worker_details_form" %>
  </div>

  <div class="col-sm-4"></div>
</div>
