<div id="search_results" class="container">
  <div class="col-sm-2"> </div>
  <div class="col-sm-8"> 
    <div id="list_of_workers" class="center">
      <% unless @result.empty? %>
        <table class="table table-hover table-responsive">
          <% @result.each do |worker| %>
            <tr>
              <td><%= image_tag worker.profile_picture.url(:thumb), class: "center" %></td>
              <td>
                <span><%= link_to(worker.firstname + " " + worker.sirname, worker_url(worker)) %></span>
                <span class="glyphicon glyphicon-user"></span>
              </td>
              <td>
                <%= worker.contact_information.contact_number %>
                <span class="glyphicon glyphicon-phone-alt"></span>
              </td>
            </tr>
          <% end %>
        </table>
      <% else %>
        <table class="table table-hover table-responsive">
          <tr>
            <td><h2><p class="text-primary lead"> 
                There are no helpers with this expertise, but we will get them soon !!!
            </p></h2> </td>
          </tr>
        </table>
      <% end %>
      <hr>
    </div>
  </div>
  <div class="col-sm-2"> </div>
</div>
