// Place all the styles related to the workers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#worker_profile {
  td {
    width: 50%;
  }
}

#worker_profile_picture {
  margin-bottom: 2%;
  img {
    margin-bottom: 2%;
    width: 80%;
  }
  a {
    width: 80%;
  }
}

.table_heading{
  margin-bottom: 2%;
}

#form_for_new_worker{
  margin-top: 1%;
  text-align: center;

  input {
    text-align: center;
    width: 100%;
  }

  select {
    text-align: center;
    width: 100%;
  }

  label {
    width: 100%;
  }

  button {
    width: 100%;
  }
}
