<header>
  <hr>
  <div class="navbar" id="header">
    <div class="container">
      <div class="col-sm-4">
        <div class="navbar-header">
          <a class="navbar-brand btn btn-primary" href="#">Helper</a>
        </div>
      </div>
      <div class="col-sm-4"></div>
      <div class="col-sm-4">
        <ul class="nav navbar-nav">
          <li><a href="#">How does it work</a></li>
          <li><a href="#">Advertise with Us</a></li>
        </ul>
      </div>
    </div>
  </div>
  <hr>
</header>
