<header>
  <div class="nav navbar-inverse" id="header">
    <div class="container">
      <div class="col-sm-4"></div>
      <div class="col-sm-4"></div>
      <div class="col-sm-4">
        <a href="#", class="btn btn-danger">How does it work</a>
        <a href="#", class="btn btn-danger">Advertise with Us</a>
      </div>
    </div>
  </div>
</header>
