<div id="search_form" class="container">
  <div class="col-sm-1"></div>
  <div class="col-sm-10" class="center">
    <div id="page_header_and_search_form" class="center container-fluid">
      <div id="website_header_line" class="row">
        <p class="lead"><h2> Helping you for everything that makes your life easier </h2></p>
      </div>
      <hr>

      <div id="search_form" >
        <%= form_tag %>
      </div>
    </div>
  </div>
  <div class="col-sm-1"></div>
</div>
